services:
  golang:
    build:
      context: ./golang #Source dir of the Dockerfile
    ports:
      - "127.0.0.1:42:80" #Bind the ipaddress:port of the host with the port ([host]:port)
    networks:
      - golang-network #Used to specify rules for the network (here only the name)
    container_name: golang
    hostname: golang
  bun:
    build:
      context: ./bun #Source dir of the Dockerfile
    ports:
      - "127.0.0.1:80:80" #Bind the ipaddress:port of the host with the port ([host]:port)
    networks:
      - bun-network #Used to specify rules for the network (here only the name)
    container_name: bun
    hostname: bun
  neo4j:
    build:
      context: ./neo4j #Source dir of the Dockerfile
    ports:
      - "127.0.0.1:7474:7474" #Bind the ipaddress:port of the host with the port ([host]:port)
      - "127.0.0.1:7687:7687" #Bind the ipaddress:port of the host with the port ([host]:port)
    networks:
      - neo4j-network #Used to specify rules for the network (here only the name)
    container_name: neo4j
    hostname: neo4j
  jaeger:
    image: jaegertracing/all-in-one:1.6.0
    container_name: jaeger
    environment:
      - COLLECTOR_ZIPKIN_HTTP_PORT=9411
    ports:
      - "5775:5775/udp"
      - "6831:6831/udp"
      - "6832:6832/udp"
      - "5778:5778"
      - "16686:16686"
      - "14268:14268"
      - "9411:9411"

networks:
  golang-network:
    name: golang-network
  bun-network:
    name: bun-network
  neo4j-network:
    name: neo4j-network
