services:
  golang:
    build:
      context: ./golang #Source dir of the Dockerfile
    restart: always
    ports:
      - "127.0.0.1:8080:8080" #Bind the ipaddress:port of the host with the port ([host]:port)
    networks:
      - golang-network
    container_name: golang
    hostname: golang
  user_service:
    build:
        context: ../PLIC-UserService/
    restart: always
    ports:
      - "127.0.0.1:3001:3000" #Bind the ipaddress:port of the host with the port ([host]:port)
    networks:
      - bun-network #Used to specify rules for the network (here only the name)
    container_name: user-service
    hostname: user-service
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - supabase_url=${SUPABASE_URL}
      - supabase_key=${SERVICE_ROLE_KEY}
      - NODE_ENV=${NODE_ENV}
      - JAEGER_URL=${JAEGER_URL}
  like_service:
    build:
        context: ../PLIC-LikeService/
    restart: always
    ports:
      - "127.0.0.1:3002:3000" #Bind the ipaddress:port of the host with the port ([host]:port)
    networks:
      - bun-network
    container_name: like-service
    hostname: like-service
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on: 
      - user_service
      - apt_service
      - neo4j
    environment:
      - supabase_url=${SUPABASE_URL}
      - supabase_key=${SERVICE_ROLE_KEY}
      - NODE_ENV=${NODE_ENV}
      - USER_URL=${USER_URL}
      - APT_URL=${APT_URL}
      - NEO4J_URL=${NEO4J_URL}
      - NEO4J_USER=${NEO4J_USER}
      - NEO4J_PASSWORD=${NEO4J_PASSWORD}
  apt_service:
    build:
        context: ../PLIC-ApartmentService/
    restart: always
    ports:
      - "127.0.0.1:3003:3000" #Bind the ipaddress:port of the host with the port ([host]:port)
    networks:
      - bun-network #Used to specify rules for the network (here only the name)
    container_name: apt-service
    hostname: apt-service
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on: 
      - user_service
    environment:
      - supabase_url=${SUPABASE_URL}
      - supabase_key=${SERVICE_ROLE_KEY}
      - NODE_ENV=${NODE_ENV}
      - USER_URL=${USER_URL}

  neo4j:
    build:
      context: ./neo4j #Source dir of the Dockerfile
    restart: always
    ports:
      - "7474:7474" #Bind the ipaddress:port of the host with the port ([host]:port)
      - "7687:7687" #Bind the ipaddress:port of the host with the port ([host]:port)
    networks:
      - bun-network
    container_name: neo4j
    hostname: neo4j
  jaeger:
    image: jaegertracing/all-in-one:1.66.0
    restart: always
    container_name: jaeger
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    ports:
      - 6831:6831/udp
      - 6832:6832/udp
      - 5778:5778
      - 16686:16686
      - "127.0.0.1:4317:4317"
      - "127.0.0.1:4318:4318"
      - 14250:14250
      - 14268:14268
      - 14269:14269
      - 9411:9411
    networks:
      - bun-network

networks:
  golang-network:
    name: golang-network
  bun-network:
    name: bun-network
    driver: bridge
  neo4j-network:
    name: neo4j-network

